@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

.grid {
    display: grid;
    grid-template-columns: 800px auto;
    grid-template-rows: 100px minmax(400px, auto) 100px;
    grid-template-areas: 
        'header header'
        'leftber main'
        'footer footer';
}

html, body {
    background-color: #FFEED0;
    margin: 0;
    padding: 0;
}

* a{
    text-decoration: none;
    color: #000000;
}
h1,h3,h4,p{
    padding: 0;
    margin: 0;
}

.header {
    grid-area: header;
}
.leftber { 
    grid-area: leftber;
    position: relative;
    left: 15%;
    top: 15%;
}
.main {
    grid-area: main;
    

}
.footer {
    grid-area: footer;
}

/* Header bar*/
.top {
    width: 180px;
    float: left;
    margin-top: -20px;
}

.top-header {
    background-color: #F9D390;
    box-shadow: 0px 0px 8px 0px rgb(102, 88, 61);
}
.head {
    color: #000000;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    margin: 5px;    
    margin-left: 70px;                             
}
.menu-item {
    color: #000000;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    top: 2.5%;
    left: 80%;
}

.brand {
    display: inline-block;
    font-size: 48px;
    font-weight: 500;
    color: #E67877;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    font-family: 'Modak', cursive
    
}


.font {
    color: #000000;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    
    font-size: 18px;
    font-weight: 800px;
}

.button {
    color: #ffffff;
    background-color: #0056b3;
    padding: 15px;
    text-align: center;
    display: inline-block;
    width: 7%;
    border: 3px solid #000000;
    border-radius: 30px;

}

.image {
    max-width: 700px;
    margin: auto;
}

.search-bar {
    position: absolute;
    left: 30%;
    top: 3%;
    width: 60vh;
}

#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0px;
    width: 50vh;
}

#search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0px;
    margin-left: 0px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

.favour-baricon{
    width: 100%;
    max-width: 36px;
    position: absolute;
    top: 2.5%;
    left: 75%;
    transform: translateX(-75%);
}

.chat-baricon{
    width: 100%;
    max-width: 28px;
    position: absolute;
    top: 3%;
    left: 78%;
    transform: translateX(-80%);
}

.right-photo-user{
    width: 60px;
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    top: 1%;
    left: 80%;
    transform: translateX(-40%);
}

.post-button{
    background-color: #3D3CE7;
    color: white;
    width: 5%;
    font-size: 18px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 2%;
    left: 96%;
    transform: translateX(-80%);
}

/* Header dropdown */
.navbar {
    background-color: #F9D390;
    border-radius: 7px;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: absolute;
    top: -1%;
    left: 90%;
    transform: translateX(-90%);
    width: 200px;
  }
    ul {
    display: flex;
  }
  li {
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  li a {
    padding: 20px 30px;
    color: #000000;
  }
  li a i {
    margin-left: 5px;
    font-size: 12px;
    transition: 0.4s;
  }
  li:hover {
    background-color: #f9f9f9;
  }
  .dropdown {
    position: absolute;
    display: block;
    background-color: #fff;
    top: 120%;
    opacity: 0;
    visibility: hidden;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.3s;
    left: 0;
    width: 200px;
  }
  .dropdown-link:hover .dropdown {
    top: 105%;
    opacity: 1;
    visibility: visible;
  }
  .dropdown-link:hover a i {
    transform: rotate(-180deg);
  }

  /*left bar*/
  .what-page{
    padding: 0;
    position: relative;
    left: -10%;
    top: -10%;
}

.img-left{
    max-width: 600px;
    width: 600px;
}

/*Right bar*/

.chat-seller{
    color: #000000;
    background-color: white;
    border-radius: 10px;
    width: 25%;
    height: 10%;
    
}

.chat-baricon1{
    width: 25%;
    max-width: 18px; 
    padding-right:10px ;
    margin-top: -10px;
    margin-bottom: -5px;
    
}

.call{
    margin-left: 10px;
    margin-top: 20px;
    color: #000000;
    background-color: white;
    border-radius: 10px;
    width: 25%;
    height: 10%;
}

.inline-text{
    display: inline-block;
}

/*footer ber*/
.footer-waning{
    position: absolute;
    top: 95%;
    left: 40%;
}

.space-main{
    margin-bottom: 10px;
}

.font-style{
    color: #2925DD;
}

.organize-space{
    margin-top: 8%;
}

.fa-check{
    color: #14FF0F;
}

.fa-phone{
    color: white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    padding-right: 10px;
}